<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mine" >

    <application android:theme="@style/AppTheme" >
        <activity
            android:name=".MineActivity"
            android:exported="true" >
        </activity>
    </application>

</manifest>